<div class="container">
  <h1>Tus citas</h1>
  <mat-card class="card" *ngFor="let appointment of appointments">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{appointment.patient_name}} {{appointment.patient_surname}}</mat-card-title>
        <mat-card-subtitle>Otorrinolaringología</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="date">
          <div style="width: 50%">Fecha: {{appointment.date}}</div>
          <div style="width: 50%">Hora: {{time[appointment.start_time]}}</div>
        </div>
      </mat-card-content>
      <mat-card-actions style="float: right">
        <h5 *ngIf="appointment.presence" style="color: #58A9FF">Paciente presente</h5>
        <button *ngIf="!appointment.presence" mat-button color="warn">CANCELAR</button>
      </mat-card-actions>
  </mat-card>
</div>