<div class="container">
  <h1>Especialidades</h1>
  <mat-list>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
    <mat-list-item style="height: 150px;">
      <img matListAvatar src="assets/img/specialties/cardio.png" alt="Cardiología" style="width:100px; height: auto;">
      <h2 matLine> Cardiología </h2>
      <p matLine>
        <span> Una breve descripción....... </span>
      </p>
      
    </mat-list-item>
  </mat-expansion-panel-header>
  <ul matLine>
      <li>Jaime Rodríguez Navarro
         <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a></li>
      <li>Adrián Gil Pérez
          <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
      </li>
      <li>Estefanía Ruiz Santos
          <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
      </li>
      <li>Toribio Guzmán Pelaez
          <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
      </li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
  <mat-list-item style="height: 150px;">
    <img matListAvatar src="assets/img/specialties/alergo.png" alt="Alergología" style="width:100px; height: auto;">
    <h2 matLine> Alergología </h2>
    <p matLine>
      <span> Otra breve descripción..... </span>
    </p>
  </mat-list-item>
</mat-expansion-panel-header>
<ul matLine>
    <li>Mercedes Benz Ovejero
        <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
    </li>
    <li>Juan Domínguez Vera
        <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
    </li>
    <li>Esteban García Soto
        <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
    </li>
    <li>Cristina Jiménez Losada
        <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
    </li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
<mat-list-item style="height: 150px;">
  <img matListAvatar src="assets/img/specialties/geriatria.png" alt="Geriatría" style="width:100px; height: auto;">
  <h2 matLine> Geriatría </h2>
  <p matLine>
    <span> Otra breve descripción..... </span>
  </p>
  
</mat-list-item>
</mat-expansion-panel-header>
<ul matLine>
  <li>José De la Vega Pinto
      <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
  </li>
  <li>Adriana Gómez Pérez
      <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
  </li>
  <li>Ricado Humanes Sanz
      <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
  </li>
  <li>Torcuato Gil Puig
      <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
  </li>
</ul>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
<mat-list-item style="height: 150px;">
  <img matListAvatar src="assets/img/specialties/ginecologia.png" alt="Ginecología" style="width:100px; height: auto;">
  <h2 matLine> Ginecología </h2>
  <p matLine>
    <span> Otra breve descripción..... </span>
  </p>
  
</mat-list-item>
</mat-expansion-panel-header>
<ul matLine>
  <li>Laura López Novoa
      <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
  </li>
  <li>Miguel Torres Bou
      <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
  </li>
  <li>Álvaro Reyes Romero
      <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
  </li>
</ul>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
<mat-list-item style="height: 150px;">
  <img matListAvatar src="assets/img/specialties/traumatologia.png" alt="Traumatología" style="width:100px; height: auto;">
  <h2 matLine> Traumatología </h2>
  <p matLine>
    <span> Otra breve descripción..... </span>
  </p>
  
</mat-list-item>
</mat-expansion-panel-header>
<ul matLine>
  <li>Luis Nieto Moreno
      <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
  </li>
  <li>Belén Santos Asensio
      <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
  </li>
  <li>Mónica Navarro Barrios
      <a mat-button routerLink="/disponibilidad"><i class="fas fa-calendar-alt"></i> </a>
  </li>
</ul>
</mat-expansion-panel>

</mat-list>



</div>