<div class="container">
  <h1>Especialidades</h1>
  <mat-list>
    <mat-expansion-panel *ngFor="let specialty of specialties">
        <mat-expansion-panel-header>
    <mat-list-item style="height: 150px;">
      <img matListAvatar src="assets/img/specialties/{{specialty.name.toLowerCase()}}.png" alt="Cardiología" style="width:100px; height: auto;">
      <h2 matLine> {{specialty.name}} </h2>
      <p matLine>
        <span> {{specialty.description}} </span>
      </p>
    </mat-list-item>
  </mat-expansion-panel-header>
  <ul matLine>
      <li *ngFor="let doctor of specialty.doctors">
        {{doctor.name}} {{doctor.surname}}
         <a mat-button routerLink="/disponibilidad" [queryParams]="{dni: doctor.dni}" skipLocationChange=true><i class="fas fa-calendar-alt"></i> </a></li>
    </ul>
  </mat-expansion-panel>

</mat-list>



</div>