#citasContainer{
    padding: 2rem;
}
#date{
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cal-disabled {
    background-color: #eee;
    pointer-events: none;
  }
  
  .cal-disabled .cal-day-number {
    opacity: 0.1;
  }